/*global-settings-start*/

    * {
        margin: 0;
        font-family: "Poppins", sans-serif;
    }
    
    h1{
        font-size: 2rem;
    }

    p{
        font-size: 1.25rem;
    }

/*global-settings-end*/

/*header-content-settings-start*/
    .header-content{
        display: flex;
        align-items: center;
    }

    .header-content-section-1{
        margin-right: 15px;
    }

    .header-content-section-2{
        display: flex; 
        align-items: center;
    }

    .header-image img{
        width: 65px;
        height: 65px;
        margin-right: 15px;
    }
/*header-cotent-settings-end*/



/*nav-content-settings-start*/
    .nav-content{
        width: 300px;
    }

    .nav-content-section-1{
        text-align: center;
    }

    .nav-image img{
        margin-top: 5px;
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }

    .nav-title h1{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-paragraph p{
        margin-bottom: 10px;
    }

    .nav-icon-list-1{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        padding: 0;
        margin-bottom: 15px;
    }

    .nav-icon-list-1 li{
        margin-right: 5px;
    }

    .nav-icon-list-1 li a{
        display: block;
        width: 40px;
        height: 40px; 
        text-align: center;
        line-height: 40px;
        border-style: solid;
        background-color: black;
        color: white;
        border-radius: 5px; 
    }

    .nav-content-section-2 {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .nav-icon-list-2 {
        list-style: none;
        padding: 0;
    }
    
    .nav-icon-list-2 li {
        margin-top: 5px;
    }
    
    .nav-icon-list-2 li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white; 
        background-color: black; 
        border: 2px solid white; 
        border-radius: 5px; 
        padding: 5px 10px; 
    }
    
    .nav-icon-list-2 li a i {
        font-size: 1.5rem; 
    }
    
    .nav-icon-list-2 li a span {
        flex: 1; 
        text-align: center; 
    }

    .nav-content-section-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }
    
    .nav-icon-list-3 {
        list-style: none;
        padding: 0;
    }

    .nav-icon-list-3 li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white; 
        background-color: black; 
        border: 2px solid white; 
        border-radius: 5px; 
        padding: 5px 10px; 
        width: 200px;
    }

    .nav-icon-list-3 li a i {
        font-size: 1.5rem; 
    }

    .nav-icon-list-3 li a span {
        flex: 1; 
        text-align: center; 
    }
/*nav-content-settings-end*/



